#Ignore  gradle
.gradle/*
gradlew
gradlew.bat
settings.gradle
gradle/*

#Ignore idea folder
.idea/*
botconfig.json
build.gradle
prefix.json
ta.properties
ta.userlibraries
ta.xml

out/*
META-INF/*

Techbot.zip

build/

src/main/.classpath
src/main/.project
src/main/ta.main.eml

